<!-- -*- mode: XML -*- -->

<launch>
    <arg name="veh" default="husky2" />  
    <!-- Load controller configuration to parameter server -->
    <rosparam ns="$(arg veh)" file="$(find dynamixel_tilting_camera)/config/dynamixel_camera_joint_controllers.yaml" command="load"/>
    
    <!-- start specified joint controllers -->
    <node ns="$(arg veh)" pkg="dynamixel_controllers" type="controller_spawner.py" name="dynamixel_controller_spawner"
          args="--manager=dxl_manager
                --port=pan_tilt_port
                --type=simple
                left_pan_controller
                left_tilt_controller
                mid_pan_controller
                mid_tilt_controller
                right_pan_controller
                right_tilt_controller"
          output="screen"/>
</launch>
